# Glassdoor Data Scientist Job Postings Cleaning

## Dataset

### This data was scrapped from glassdoor's website. It contains the following attributes:
        >Index
        >Job Title
        >Salary Estimate
        >Job Description
        >Rating
        >Location
        >Headquarters
        >Size
        >Founded
        >Type of Ownership
        >Industry
        >Sector
        >Revenue
        >Competitors

### Importing necessay libraries

In [1]:
import pandas as pd
import numpy as np

### Reading the Data

In [28]:
df= pd.read_csv('C:/Users/ASUS/Downloads/data cleaning/Uncleaned_DS_jobs.csv')
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

### Droping Unwanted Columns 
    >'Index' and 'Competitors' columns are unwanted data attributes
    Hence we drop both the columns

In [29]:
df.drop('index',inplace=True , axis=1)
df.drop('Competitors',inplace=True , axis=1)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

### Cleaning and Converting Estimated Salary into integer

In [30]:
df['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

#### As it is visible here the salary ranges have unclean and garbage values

In [31]:
df['Salary Estimate'].apply(lambda x: x.split('(')[0]).unique()

array(['$137K-$171K ', '$75K-$131K ', '$79K-$131K ', '$99K-$132K ',
       '$90K-$109K ', '$101K-$165K ', '$56K-$97K ', '$79K-$106K ',
       '$71K-$123K ', '$90K-$124K ', '$91K-$150K ', '$141K-$225K ',
       '$145K-$225K', '$79K-$147K ', '$122K-$146K ', '$112K-$116K ',
       '$110K-$163K ', '$124K-$198K ', '$79K-$133K ', '$69K-$116K ',
       '$31K-$56K ', '$95K-$119K ', '$212K-$331K ', '$66K-$112K ',
       '$128K-$201K ', '$138K-$158K ', '$80K-$132K ', '$87K-$141K ',
       '$92K-$155K ', '$105K-$167K '], dtype=object)

#### removing the "(Glassdoor est.)" garbage value

In [32]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [20]:
df['Salary Estimate'].apply(lambda x: x.replace('$','').replace('K','')).unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

#### Removing $ and K

In [33]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('$','').replace('K',''))

#### Creating min and max salary columns

In [49]:
df['min_salary']=df['Salary Estimate'].apply(lambda x: x.split('-')[0])
df['max_salary']=df['Salary Estimate'].apply(lambda x: x.split('-')[1])

In [50]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171

#### Cleaning the Company name

    > The company names contain intergers which need to be removes

In [53]:
df['Company Name']=df['Company Name'].apply(lambda x: x.split('\n')[0])
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,Comapny Name
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,Healthfirst
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,ManTech
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,Analysis Group
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,INFICON
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,Affinity Solutions

#### Sorting on the basis of ratings and min salary

In [61]:
df.sort_values(by=['Rating','min_salary'],ascending=[False,True])

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,Comapny Name
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),105,167,ChaTeck Incorporated
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,163,LifeOmic
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,112,116,"New Iron Group, Inc."
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,122,146,Averity
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),122,146,Phoenix Operations Group
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,95,119,Hatch Data Inc
498,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,95,119,Hatch Data Inc
499,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,95,119,Hatch Data Inc
500,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,95,119,Hatch Data Inc
504,Data Scientist,95-119,Job Description\nWorking at Sophinea\n\nSophin...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,95,119,Sophinea

#### Replacing negative ratings with 0

In [62]:
df[df['Rating']==-1.0].shape

(50, 16)

In [63]:
df.Rating.dtype

dtype('float64')

In [64]:
df.Rating = np.where(df.Rating==-1.0,0,df.Rating)

In [67]:
df=df.sort_values(by=['Rating','min_salary'],ascending=[False,True])

#### Making a new column with the job state

In [68]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[-1])
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,Comapny Name,job_state
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),105,167,ChaTeck Incorporated,CA
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,163,LifeOmic,NC
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,112,116,"New Iron Group, Inc.",MA
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,122,146,Averity,NY
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),122,146,Phoenix Operations Group,MD

#### New column with company age

In [69]:
df['company_age'] = df.Founded.apply(lambda x: x if x<1 else 2023-x)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,Comapny Name,job_state,company_age
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),105,167,ChaTeck Incorporated,CA,-1
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,163,LifeOmic,NC,7
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,112,116,"New Iron Group, Inc.",MA,20
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,122,146,Averity,NY,9
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),122,146,Phoenix Operations Group,MD,12

In [70]:
df[df['company_age']==-1].shape

(118, 18)

#### Changing comapny age from negative to 0

In [71]:
df.company_age = np.where(df.company_age==-1.0,0,df.Rating)
df[df['company_age']==-1].shape

(0, 18)

In [72]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,Comapny Name,job_state,company_age
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),105,167,ChaTeck Incorporated,CA,0.0
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,110,163,LifeOmic,NC,5.0
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,112,116,"New Iron Group, Inc.",MA,5.0
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,122,146,Averity,NY,5.0
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),122,146,Phoenix Operations Group,MD,5.0

In [73]:
df['Job Description'][2].split('\n')

['Overview',
 '',
 '',
 'Analysis Group is one of the largest international economics consulting firms, with more than 1,000 professionals across 14 offices in North America, Europe, and Asia. Since 1981, we have provided expertise in economics, finance, health care analytics, and strategy to top law firms, Fortune Global 500 companies, and government agencies worldwide. Our internal experts, together with our network of affiliated experts from academia, industry, and government, offer our clients exceptional breadth and depth of expertise.',
 '',
 'We are currently seeking a Data Scientist to join our team. The ideal candidate should be passionate about working on cutting edge research and analytical services for Fortune 500 companies, global pharma/biotech firms and leaders in industries such as finance, energy and life sciences. The Data Scientist will be a contributing member to client engagements and have the opportunity to work with our network of world-class experts and thought leaders.',
 '',
 'Job Functions and Responsibilities',
 '',
 'The candidate Data Scientist will help develop, maintain and teach new tools and methodologies related to data science and high performance computing. This position will also help Analysis Group in maintaining our leadership position in terms of advancing methodology and data analytics. The Data Scientist will be responsible for staying abreast of new developments in technology relating to data science, to share more broadly with Analysis Group.',
 '',
 'Key responsibilities for this position will include:',
 'Working with project teams to address data science/computing challenges',
 'Identifying opportunities for technology to enhance service offerings',
 'Acting as a resource and participating in client engagements and research as part of the project team',
 'Maintaining up-to-date knowledge of computing tools, providing technical training and helping to grow the in-house knowledge base, specifically in a Linux environment',
 'Presenting research at selected conferences',
 'Examples of activities for the Data Scientist will include:',
 'Developing data engineering and machine learning production systems for full stack data science projects',
 'Using natural language processing methodologies to work with EMR data, social media data and other unstructured data',
 'Optimizing procedures for managing and accessing large databases (e.g., insurance claims, electronic health records, financial transactions)',
 'Creating interactive analytics portals and data visualizations (e.g., using R/Shiny, Python/Flask, D3)',
 'Building and maintaining high performance computing (HPC) tools on grid and cloud computing environments',
 'Developing and reviewing software and packages in R, Python and other Object Oriented Languages',
 'Establishing optimized procedures for repetitive or computationally intensive tasks (C, C++, Cuda-C)',
 'Qualifications',
 'Strong credentials and experience in database management and data visualization',
 'Significant experience working within a Linux environment required',
 'Background in Statistics/Econometrics or Biostatistics',
 'Ideally PhD in Computer Science, Mathematics, Statistics, Economics or other relevant scientific degree with relevant experience. Other candidates with at least one year of experience in the field may also be considered',
 'Excellent written and verbal communication skills',
 'Project experience with R and/or Python',
 'Familiar with online/cloud computing/storage (e.g., AWS)',
 'Demonstrated experience working on project teams and collaborating with others',
 'SCIENTIFIQUE DES DONNÃ‰ES',
 '',
 '*Lâ€™utilisation du genre masculin sert uniquement Ã  allÃ©ger le texte et est utilisÃ© ici en tant que genre neutre',
 '',
 'Survol',
 '',
 'Groupe dâ€™analyse ltÃ©e est lâ€™une des plus grandes firmes de services-conseils en Ã©conomie, comptant plus de 950 professionnels rÃ©partis dans 14 bureaux en AmÃ©rique du Nord, en Europe et en Asie. Depuis 1981, nous offrons notre expertise en matiÃ¨re de stratÃ©gie, dâ€™Ã©conomie, de finance et dâ€™analyse dans le domaine des soins de santÃ© aux grands cabinets dâ€™avocats, aux sociÃ©tÃ©s Fortune Global 500 et aux agences gouvernementales du monde entier. Nos professionnels en poste conjuguÃ©s Ã  notre rÃ©seau de spÃ©cialistes affiliÃ©s issus dâ€™universitÃ©s, dâ€™industries spÃ©cifiques et dâ€™organismes gouvernementaux procurent Ã  notre clientÃ¨le un savoir-faire dâ€™une portÃ©e et dâ€™une profondeur exceptionnelles.',
 '',
 "Nous sommes prÃ©sentement Ã  la recherche d'un Scientifique des donnÃ©es (Â« Data Scientist Â») pour se joindre Ã  notre Ã©quipe. Le candidat idÃ©al devrait Ãªtre passionnÃ© par la recherche de pointe et les services analytiques pour les entreprises Fortune 500, les entreprises pharmaceutiques et biotechnologiques mondiales et les chefs de file dans des secteurs de la finance, l'Ã©nergie et les sciences de la vie. Le Scientifique des donnÃ©es sera un membre contributeur aux mandats des clients et aura l'occasion de travailler avec notre rÃ©seau d'experts et de leaders d'opinion de classe mondiale.",
 '',
 'Description du poste et des responsabilitÃ©s',
 '',
 "Le scientifique des donnÃ©es aidera Ã  dÃ©velopper, maintenir et enseigner de nouveaux outils et mÃ©thodologies liÃ©s Ã  la science des donnÃ©es (Â« Data Science Â») et au HPC. Ce poste aidera Ã©galement le Groupe d'analyse Ã  maintenir sa position de chef de file en ce qui a trait Ã  l'avancement de la mÃ©thodologie et de l'analyse des donnÃ©es. Le scientifique des donnÃ©es sera chargÃ© de se tenir au courant des nouveaux dÃ©veloppements technologiques liÃ©s Ã  la science des donnÃ©es, afin de les partager plus largement avec le Groupe d'analyse.",
 '',
 'Les principales responsabilitÃ©s de ce poste comprendront:',
 '',
 '- Collaborer avec les consultants pour relever les dÃ©fis de la science des donnÃ©es et de sciences informatiques',
 '',
 "- Agir Ã  titre de ressource et participer aux mandats et Ã  la recherche en tant que membre de l'Ã©quipe de projet",
 '',
 '- Maintenir Ã  jour les connaissances sur les outils informatiques, fournir une formation technique et aider Ã  dÃ©velopper la base de connaissances interne, notamment dans un environnement Linux',
 '',
 '- PrÃ©senter la recherche Ã  des confÃ©rences choisies',
 '',
 'Exemples de tÃ¢ches du scientifique des donnÃ©es :',
 '',
 '- DÃ©veloppement de systÃ¨mes de production en ingÃ©nierie des donnÃ©es ainsi quâ€™en apprentissage machine pour des projets de science des donnÃ©es full stack',
 '',
 "- Utiliser des mÃ©thodologies NLP pour travailler avec les donnÃ©es mÃ©dicales Ã©lectroniques, les donnÃ©es des mÃ©dias sociaux et d'autres donnÃ©es non structures",
 '',
 "- Optimiser les procÃ©dures de gestion et d'accÃ¨s aux grandes bases de donnÃ©es (ex. rÃ©clamations d'assurance, dossiers de santÃ© Ã©lectroniques, transactions financiÃ¨res)",
 '',
 "- CrÃ©ation de portails d'analyse interactifs et de visualisations de donnÃ©es (par exemple, en utilisant R/Shiny, Python/Flask, D3)",
 '',
 '- Construire et maintenir des outils de calcul de haute performance (HPC).',
 '',
 '- DÃ©veloppement et rÃ©vision de codes en R, Python et autres langages',
 '',
 '- Mise en place de procÃ©dures optimisÃ©es pour les tÃ¢ches rÃ©pÃ©titives ou intensives en calcul (C, C++, Cuda-C)',
 '',
 'Qualifications requises',
 '',
 '- Solides rÃ©fÃ©rences et expÃ©rience dans la gestion de bases de donnÃ©es et de la visualisation de donnÃ©es',
 '',
 '- ExpÃ©rience de travail significative dans un environnement Linux requise',
 '',
 '- ExpÃ©rience antÃ©rieure en statistique/Ã©conomÃ©trie ou bio-statistique',
 '',
 "- IdÃ©alement, Ãªtre titulaire d'un doctorat en sciences informatiques, en mathÃ©matiques, en statistique, en Ã©conomie ou d'un autre diplÃ´me scientifique pertinent et possÃ©der une expÃ©rience pertinente. Les candidats ayant au moins un an d'expÃ©rience dans le domaine peuvent Ã©galement Ãªtre considÃ©rÃ©s.",
 '',
 '- Excellentes aptitudes de communication Ã©crite et verbale',
 '',
 '- ExpÃ©rience de projet avec R et/ou Python',
 '',
 "- FamiliaritÃ© avec l'informatique en ligne/info nuagique et le stockage (AWS)",
 '',
 "- ExpÃ©rience de travail dÃ©montrÃ©e au sein d'Ã©quipes de projet et de collaboration avec d'autres personnes",
 '',
 '\xad',
 'Equal Opportunity Employer/Protected Veterans/Individuals with Disabilities.',
 'Please view Equal Employment Opportunity Posters provided by OFCCP here.',
 "The contractor will not discharge or in any other manner discriminate against employees or applicants because they have inquired about, discussed, or disclosed their own pay or the pay of another employee or applicant. However, employees who have access to the compensation information of other employees or applicants as a part of their essential job functions cannot disclose the pay of other employees or applicants to individuals who do not otherwise have access to compensation information, unless the disclosure is (a) in response to a formal complaint or charge, (b) in furtherance of an investigation, proceeding, hearing, or action, including an investigation conducted by the employer, or (c) consistent with the contractor's legal duty to furnish information. 41 CFR 60-1.35(c)"]

#### Creating attributes according to job description
    > if a particular skill is present in job description ,it is updated to 1
        else 0

In [74]:
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['hadoop'] = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df['big_data'] = df['Job Description'].apply(lambda x: 1 if 'big data' in x.lower() else 0)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Comapny Name,job_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,...,ChaTeck Incorporated,CA,0.0,1,0,1,1,0,0,1
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,...,LifeOmic,NC,5.0,0,0,0,1,1,0,0
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,...,"New Iron Group, Inc.",MA,5.0,1,0,0,0,0,0,0
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,...,Averity,NY,5.0,0,0,0,0,0,0,0
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,...,Phoenix Operations Group,MD,5.0,1,0,0,1,0,0,1

#### Simplifying Role name

In [75]:
df['Job Title'].value_counts()

Data Scientist                                        337
Data Engineer                                          26
Senior Data Scientist                                  19
Machine Learning Engineer                              16
Data Analyst                                           12
                                                     ...
Machine Learning Engineer, Sr.                          1
Jr. Data Engineer                                       1
Manager, Field Application Scientist, Southeast         1
Hydrogen/Tritium Materials Scientist (Experienced)      1
ELISA RESEARCH SCIENTIST (CV-15)                        1
Name: Job Title, Length: 172, dtype: int64

In [76]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [77]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

df.job_simp.value_counts()

data scientist    455
na                 69
analyst            55
data engineer      47
mle                36
manager             7
director            3
Name: job_simp, dtype: int64

#### Defining seniority

In [78]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [79]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

na        576
senior     94
jr          2
Name: seniority, dtype: int64

In [80]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,...,0.0,1,0,1,1,0,0,1,data scientist,na
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,...,5.0,0,0,0,1,1,0,0,mle,senior
382,Applied AI Scientist / Engineer,112-116,Applied AI Scientist Engineer New Iron is lead...,5.0,"New Iron Group, Inc.","Boston, MA","Austin, TX",1 to 50 employees,2003,Contract,...,5.0,1,0,0,0,0,0,0,na,na
349,Data Scientist,122-146,We are the most sought after hedge fund in New...,5.0,Averity,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,...,5.0,0,0,0,0,0,0,0,data scientist,na
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,...,5.0,1,0,0,1,0,0,1,data scientist,na

#### Saving the dataframe

In [81]:
df.to_csv('Cleaned_DS_Jobs_Glassdoor.csv', index=False)